* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1140px;
    padding: 0px 15px;
    margin: 0px auto;
}

.site-header {
    width: 100%;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    background: white;
}

.h-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.h-menu {
    flex-grow: 3;
}

.mitem {
    list-style: none;
}

.mlink {
    color: black;
    text-decoration: none;
    font-weight: light;
    text-transform: uppercase;
    margin-right: 15px;
}

.logo {
    margin-right: 15px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.preview-product {
    padding: 100px 0px;
    background: url(img/preview.jpg);
    background-size: cover;
    background-position: center;
}

.prew-title {
    font-size: 30px;
}

.prew-description,
.prew-title {
    text-align: center;
    color: white;
}

.product-cont {
    padding: 50px 0px;
}

.products-title,
.products-description {
    color: 262626;
    text-align: center;
}

.product {
    padding: 25px;
    margin-top: 45px;
    width: 25%;
    background: white;
    border: 1px black solid;
    text-align: center;
    border-radius: 20px;
}

.product-link {
    text-decoration: none;
    color: white;
}

.product-button {
    text-align: center;
    background: #8193d8;
    padding: 10px 70px;
    border-radius: 10px;
    cursor: pointer;
}

.products-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-title,
.product-text {
    margin-bottom: 10px;
}

.site-footer {
    background: url(img/footer.png);
    background-size: cover;
    padding: 60px 0px;
}

.copyright {
    color: white;
}

.footer-r {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-networks {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}